<!doctype html>
<html lang="en">
  <!--NavBar-->  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AppFitness</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Golds Gym</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
      </ul>
    </div>
  </div>
</nav>
<!--NavBar-->

    <h1>Gold Gym</h1>
    <h2>Inicio de sesion</h2>

    <!--campos de entrada-->
    <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">Mail</span>
    <input type="text" class="form-control" placeholder="user@user.com" aria-label="user@user.com" aria-describedby="addon-wrapping">
    </div>
    <br>
    <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">Contraseña</span>
    <input type="text" class="form-control" placeholder="xxxx" aria-label="xxxx" aria-describedby="addon-wrapping">
    </div>
    <br>
    <button type="button" class="btn btn-outline-primary">Entrar</button>
    <br>
    <br>
    <button type="button" class="btn btn-outline-danger">Borrar</button>
    <br>
    <br>
    <h5>¿No tienes Cuenta? <u><strong>Registrme</strong></u></h5>
       

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>